<h2>Register</h2>

<!-- Create a form to send down data to the route -->
<form method="POST" action="/user/register" enctype="application/x-www-form-urlencoded">
    <input name="username" type="text" placeholder="username">
    <input name="password" type="password" placeholder="password">
    <input name="email" type="email" placeholder="email">

    <button type="submit">Register</button>
</form>
